flask
marshmallow
pytest
pyinstaller
flasgger
flask-restful
numpy
jsonref
codecov
pytest-cov
coverage
pytest-mock
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-svg2pdfconverter
sphinxcontrib-youtube
sphinxcontrib-bibtex
m2r2
