.acpu-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.acpu-group input,
.acpu-group textarea,
.acpu-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
    font-size: 1rem;
}

.cpu-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.acpu-group-container {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding-right: 10px;
    padding-left: 10px;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    width: 100%;
}

.toggle-label {
    flex-grow: 1;
    margin-left: 0.5rem;
}

.toggle-switch {
    position: relative;
    width: 35px;
    height: 18px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 18px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(17px);
}
