.table-wrapper {
    width: 100%;
}

.table-style {
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    max-width: 100%;
}

.table-style thead {
    color: gray;
    background-color: #eaeaea;
}

.table-style th,
.table-style td {
    padding: 0.4rem;
}

.table-style td {
    white-space: nowrap;
}

.table-style tbody tr:hover {
    background-color: #eee;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions svg {
    cursor: pointer;
}

.delete {
    color: lightcoral;
}

.edit {
    color: #2e65f3;
}

.layout-head {
    display: flex;
    padding: 0.4rem;
    gap: 10px;
}

.component-table-head {
    padding: 10px;
    display: inline-flex;
    gap: 10px;
}

.plus-button {
    justify-content: center;
    align-items: center;
}