.cpu-component-top {
    gap: 10px;
    block-size: fit-content;
}

.cpu-component-title-top {
    gap: 10px;
}

.cpu-component-l2 {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 1rem;
}

.cpu-component-l1,
.cpu-component-l3 {
    display: flex;
    column-gap: 10px;
    column-count: 2;
}

.cpu-component-title {
    font-weight: bold;
    display: inline-block;
}

.cpu-component-power {
    display: inline;
    white-space: nowrap;
}

.cpu-component-power-val {
    display: inline;
    text-align: right;
    width: 100%;
    white-space: nowrap;
}