.fpga-main {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    padding: 8px;
    background-color: #efefef;
}

.fpga-main-head {}

.fpga-rowx {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.clickable {
    cursor: pointer;
    background-color: #9fdda9;
    padding: 5px;
    min-width: 85px;
    min-height: 75px;
}

#io {
    width: 100%;
}
