.fpga-main {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    padding: 8px;
    background-color: #efefef;
}

.fpga-main-head {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}

.fpga-rowx {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.clickable {
    cursor: pointer;
    background-color: #9fdda9;
    padding: 5px;
    min-width: 85px;
    min-height: 75px;
}

#io {
    width: 100%;
}

.bold-text {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.bold-text-title {
    font-weight: bold;
    color: black;
}

.grayed-text {
    color: #7c7c7c;
    font-size: 0.9em;
}

.blocks-row {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
