@import './base.css';

.mem-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    cursor: pointer;
    padding: 10px;
    min-width: 85px;
}

.mem-line {
    display: flex;
    flex-direction: row;
}

.mem-value {
    width: 100%;
    text-align: right;
}

.mem-name {
    width: 100%;
    text-align: left;
}
