@import './base.css';

.periph-top {
    display: flex;
    background-color: #dbdbdb;
    padding: 8px;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
}

.periph-row-head {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.peripherals-power {
    text-align: right;
    white-space: nowrap;
}

.periph-title {
    width: 100%;
    text-align: left;
}

.periph-row {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.periph-rowx {
    width: 100%;
    padding: 4px;
}

.periph-rowx-empty {
    width: 100%;
    padding: 4px;
    background-color: #c9c7c7;
    min-height: 20px;
}

.periph-internal-font {
    color: #727e74;
    font-size: smaller;
    width: 100%;
}

.periph-internal-font-header {
    font-weight: bold;
}

.periph-internal {
    display: flex;
    flex-direction: row;
}
