.power-table-main {
    padding: 0.4rem;
    max-width: min-content;
    height: fit-content;
}

.total-table {
    display: block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0.4rem;
}

.resources-table {
    text-align: center;
}

.header {
    font-weight: bold;
}

.innerHeader {
    color: #7f7d7d;
    font-weight: bold;
}
