.power-table-main {
    border: 1px solid;
    padding: 0.4rem;
    border-radius: 10px;
    max-width: min-content;
}

.total-table {
    display: block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0.4rem;
}

.resources-table {
    text-align: center;
}

.header {
    font-weight: bold;
}

.innerHeader {
    color: #7f7d7d;
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
    text-align: right;
}