.top-l2-col1 {
    display: flex;
    width: fit-content;
    flex-direction: column;
    row-gap: 8px;
    background-color: #f2f2f2;
    width: 100%;
}

.top-l2-col1-row1 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    height: 100%;
}

.top-l2-col1-row1-elem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-l2-col1-row1-elem-text {
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 5px;
}


.top-l2-col1-row2 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    height: 100%;
}

.top-l2-col1-row2-elem {
    display: flex;
    flex-direction: column;
    width: 100%;
}
