.top-l2-col1 {
    display: flex;
    min-height: 10px;
    width: fit-content;
    flex-direction: column;
    row-gap: 8px;
    background-color: #f2f2f2;
}

.top-l2-col1-row1 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.top-l2-col1-row1-elem {
    min-width: 160px;
}

.top-l2-col1-row1-elem-text {
    min-width: 160px;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.top-l2-col1-row2 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.top-l2-col1-row2-elem {
    width: 100%;
}