.label-value {
    width: 100%;
    text-align: right;
}

.row-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    color: black;
}

.label-percent {
    max-width: 50px;
}