.title-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    white-space: nowrap;
    gap: 1px 5px;
}

.label-value {
    width: 100%;
    text-align: right;
}

.title-comp-total-text {
    font-size: 12px;
    font-weight: bold;
}