.rpe-head {
    font-size: 14px;
}

.app-main-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.top-container {
    display: flex;
    flex-direction: column;
}

.top-l1 {
    cursor: pointer;
}

.top-l2 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin: 8px;
    height: 100%;
}

.top-l2-col2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 24px; /* should be 8px, for some reason it doen't work, TODO*/
}

.top-l2-col2-elem {
    flex-grow: 1;
}

.hspacer {
    min-height: 8px;
}

.power-tables {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pt-group input,
.pt-group textarea,
.pt-group select {
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.last-time {
    width: 100%;
    text-align: right;
}

.save-icon {
    cursor: pointer;
}

.edit-line {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.no-wrap {
    white-space: nowrap;
}

.switches-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
    vertical-align: middle;
}

.switch {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    border-left: 1px solid #828282;
    padding-left: 2px;
    width: 100%;
    display: flex;
    align-items: center;
}

.notes {
    cursor: pointer;
    align-content: center;
    border-left: 1px solid #828282;
    padding-left: 2px;
}

.warningLabel {
    color: red;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected {
    outline: 3px solid #3385FF;
}

.power-and-table-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

:root {
    --border-color: #9c9a9a;
}

.main-border {
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.main-bottom-border {
    border-bottom: 1px solid var(--border-color);
}