.main {
    border-style: solid;
}

td.mainCell {
    /* border: 1px solid; */
    width: 33%;
}

td.secCell {
    /* border: 1px solid; */
    width: 50%;
}

.cpu-layout {
    display: block;
}

.acpu-layout {
    /* border: solid; */
    display: inline-block;
    width: 33%;
}

.bcpu-layout {
    /* border: solid; */
    display: inline;
    width: 33%;
}

.soc-layout {
    /* border: solid; */
    display: inline;
    width: 33%;
}

.soc-layout-main {
    float: left;
    /* border: solid; */
}

.fpga-layout-main {
    display: block;
}
